<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travlr Getaways</title>
<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<div id="background">
<div id="page">
<div id="header">
<div id="logo">
<a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
</div>
<div id="navigation">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/travel">Travel</a></li>
<li><a href="/news">News</a></li>
<li><a href="/reservations">Reservations</a></li>
<li><a href="/admin">Admin</a></li>
<li><a href="/login">Login</a></li>
</ul>
</div>
</div>