{{> header}}
<div id="contents">
<div class="box">
<div>
<div class="body">
<h1>Reservations</h1>
<p>View and manage your travel reservations. Please log in to access your reservations.</p>
</div>
</div>
</div>
</div>
{{> footer}}